<div class="calc-body">
    <div class="calc-screen">
        <input type="text" value={{value}} readonly>
    </div>
    <div class="calc-buttons">
        <button (click)="clear()" class="btn btn-danger">AC</button>
        <button (click)="del()" class="btn btn-warning">DEL</button>
        <button (click)="percent()" class="btn">%</button>
        <button (click)="operator('÷')" class="btn">÷</button>
        <button (click)="input('7')" class="btn">7</button>
        <button (click)="input('8')" class="btn">8</button>
        <button (click)="input('9')" class="btn">9</button>
        <button (click)="operator('x')" class="btn">x</button>
        <button (click)="input('4')" class="btn">4</button>
        <button (click)="input('5')" class="btn">5</button>
        <button (click)="input('6')" class="btn">6</button>
        <button (click)="operator('-')" class="btn">-</button>
        <button (click)="input('1')" class="btn">1</button>
        <button (click)="input('2')" class="btn">2</button>
        <button (click)="input('3')" class="btn">3</button>
        <button (click)="operator('+')" class="btn">+</button>
        <button (click)="negate()" class="btn">+/-</button>
        <button (click)="input('0')" class="btn">0</button>
        <button (click)="decimal()" class="btn">.</button>
        <button (click)="equals()" class="btn btn-warning">=</button>
    </div>
</div>